#Database information
SUPABASE_URL=dburl
SUPABASE_KEY=dbsecret

#Public db data
NEXT_PUBLIC_SUPABASE_URL=dburl
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=dbsecret

#Project settings
API_KEY=secretapikey
CRYPTO_SK=secretkey
IS_PRODUCTION=boolean

#Client
NEXT_PUBLIC_API_KEY=secretapikey
NEXT_PUBLIC_CRYPTO_PASS=secretkey

#Stripe
STRIPE_SK=secretkey
WH_STRIPE=secretkey

#AI
OPEN_ROUTER_CLIENT_ID=secretkey

# Email
RESEND_API_KEY=secretapikey