@keyframes carousel {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50% - 1.5rem)); } /* Ajusta el calc según tu gap */
}

.carousel {
  animation: carousel 20s linear infinite;
  will-change: transform;
}