@import "tailwindcss";

/*Plugin de MiduDev!*/
@import 'tailwind-animations';

@theme {
  /* Color variation */
  --color-ultramarine-950: #152556;
  --color-ultramarine-900: #1a3a8e;
  --color-ultramarine-800: #1a43bf;
  --color-ultramarine-700: #164ddf;
  --color-ultramarine-600: #1e63f2;
  --color-ultramarine-500: #3483fd;
  --color-ultramarine-400: #5aa6ff;
  --color-ultramarine-300: #8fc5ff;
  --color-ultramarine-200: #bddbff;
  --color-ultramarine-100: #daeaff;
  --color-ultramarine-50: #eef6ff;

  /* Pre-built colors */
  --color-background: #01010a;
  --color-text: #EEF5DB;
  --color-main: #1A43BF;
}